.title-container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 60px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form {
    border: 4px solid darkslategrey;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
}
