.title-container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 60px;
}

.s {
    color: rgb(213,67,12);
}

.t {
    color: rgb(183,64, 102);
}

.o {
    color: rgb(181,33, 83);
}

.r {
    color: rgb(6,143, 173);
}

.a {
    color: rgb(139,118, 4);
}

.g {
    color: rgb(179,141, 13);
}

.e {
    color: rgb(219,138, 45);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form {
    border: 4px solid darkslategrey;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.submit {
    background-color: darkslategrey;
    border: none;
    outline: none;
    color: white;
    padding: 9px;
}

.reset {
    background-color: darkslategrey;
    border: none;
    outline: none;
    color: white;
    padding: 9px;
}