.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.form {
    border: 4px solid darkslategrey;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}
